*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background:linear-gradient(45deg,rgb(199, 245, 245),rgb(228, 116, 116));
    font-family: 'Times New Roman', Times, serif;
    height: auto;

}

#darkmode-button{
    margin: 5px;
    padding: 15px;
    border-radius: 50%;
}

nav button:hover{
background-color: black;
color: white;
}

header{
    background:linear-gradient(60deg, rgb(239, 244, 255), rgb(255, 212, 212));
    color: black;
    width: 100%;
    padding: 25px;
}

header h1{
    text-align: center;
}

h1,h2,h3,h4,h5{
    margin: 0px;
}

#users-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.user{
    background-color: rgb(230, 255, 251);
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 5px 10px rgb(0,0,0,0.2);
    margin: 15px;
    width:375px;
}

.user:hover{
    scale: 1.03;
}

.user button{
    margin: 3px;
    padding: 5px;
    cursor:pointer; 
    border-radius: 15px;
    border:none;
    color: white;
    background-color: rgb(1, 144, 163);
}

.user button:hover{
    background-color: rgb(0, 107, 121);    
}

.more-info{
    display: none;
}

footer{
    width:100%;
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 5px;
}

/* Darkmode styling */
.darkmode{
    background:linear-gradient(45deg,rgb(0, 48, 48),rgb(37, 0, 0));
    color: white;
}

.darkmode header{
    background:linear-gradient(60deg, rgb(0, 13, 41), rgb(61, 11, 11));
    color: white;
}

.darkmode button{
    background-color: black;
    color: white;

}

.darkmode button:hover{
    background-color: white;
    color: black;

}

.darkmode article{
    background-color: rgb(0, 58, 50);
}

.darkmode footer{
    background-color: black;
    color: white;
}


/*Media styling for phone*/
@media (max-width:360px) {

    .user{
        width: 335px;
    }
    
}